body{
    background: linear-gradient(lightblue, blue);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
h1{
    border-style: outset;
    border-color: darkgray;
    border-radius:10px;
    padding: 7px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:lighter;
}
#intro{
    font-weight:bolder;
    border-style:outset;
    border-width:3px;
    border-color:darkgreen;
   border-top-style:dotted;
   border-bottom-style:dotted;
   border-left-style:solid;
   border-right-style:solid;
   border-right-color: black;
   border-left-color: black;
    padding: 5px;
    font-size: 16px;
}
#bio{
    font-size:24px;
    color: lightgreen;
}
#compi{
    font-size:24px;
    padding-left: 5px;
    color: rgb(87, 77, 85);
}
#chemi{
    font-size: 24px;
    padding-left: 5px;
    color:royalblue;
}
#physics{
    font-size: 24px;
    padding-left: 5px;
    color:gold;
}

